$txcm-overviewSection-background: $txgl-gray;

.txcm-overviewSection {
  position: relative;
  padding: 0 $txgl-gap 0 0;
  margin: 225px $txgl-gap 60px 0;
  background: $txcm-overviewSection-background;

  &::before {
    @include txmx-pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $txcm-overviewSection-background;
  }
}
