%txph-buttonLink {
  @extend %txph-formButtonStyle;
  @include txmx-link($txgl-button-color);
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: $txgl-form-height;

  &-disabled {
    @extend %txph-formButtonStyle-disabled;
    @include txmx-link($txgl-button-disabled-color);
  }
}

%txph-button {
  color: $txgl-button-color;
}

$txph-buttonLayout-height: 32px;
$txph-buttonLayout-padding: 12px;

%txph-buttonLayout {
  height: $txph-buttonLayout-height;
  padding: 0 $txph-buttonLayout-padding;
  text-align: center;
}

$txph-buttonBorder-color: $txgl-white;
$txph-buttonBorder-borderColor: $txgl-gray-300;
$txph-buttonBorder-hover-color: $txgl-red;
$txph-buttonBorder-hover-borderColor: $txgl-red;
$txph-buttonBorder-active-color: $txgl-red;
$txph-buttonBorder-active-borderColor: $txgl-red;

%txph-buttonBorder {
  border: 1px solid $txph-buttonBorder-borderColor;
  color: $txph-buttonBorder-color;
  background: none;
  transition: border-color $txgl-transition, color $txgl-transition;

  &:hover {
    border-color: $txph-buttonBorder-hover-borderColor;
    color: $txph-buttonBorder-hover-color;
  }

  &:active {
    border-color: $txph-buttonBorder-active-borderColor;
    color: $txph-buttonBorder-active-color;
  }
}
