%txph-buttonLink {
  @extend %txph-formButtonStyle;
  @include txmx-link($txgl-button-color);
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: $txgl-form-height;

  &-disabled {
    @extend %txph-formButtonStyle-disabled;
    @include txmx-link($txgl-button-disabled-color);
  }
}

%txph-button {
  color: $txgl-button-color;
}

$txph-buttonLayout-height: 32px;
$txph-buttonLayout-padding: 12px;

%txph-buttonLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $txph-buttonLayout-height;
  padding: 0 $txph-buttonLayout-padding;
}

$txph-buttonLayoutLarge-height: 48px;
$txph-buttonLayoutLarge-padding: 12px;

%txph-buttonLayoutLarge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $txph-buttonLayoutLarge-height;
  padding: 0 $txph-buttonLayoutLarge-padding;
}

$txph-buttonBorder-color: $txgl-white;
$txph-buttonBorder-borderColor: $txgl-gray-300;
$txph-buttonBorder-hover-color: $txgl-red;
$txph-buttonBorder-hover-borderColor: $txgl-red;
$txph-buttonBorder-active-color: $txgl-red;
$txph-buttonBorder-active-borderColor: $txgl-red;

%txph-buttonBorder {
  border: 1px solid $txph-buttonBorder-borderColor;
  color: $txph-buttonBorder-color;
  background: none;
  transition: border-color $txgl-transition, color $txgl-transition;

  &:hover {
    border-color: $txph-buttonBorder-hover-borderColor;
    color: $txph-buttonBorder-hover-color;
  }

  &:active {
    border-color: $txph-buttonBorder-active-borderColor;
    color: $txph-buttonBorder-active-color;
  }
}

$txph-buttonRed-color: $txgl-white-900;
$txph-buttonRed-background: $txgl-red;
$txph-buttonRed-hover-background: $txgl-red-600;
$txph-buttonRed-active-background: $txgl-red-400;

%txph-buttonRed {
  color: $txph-buttonRed-color;
  background: $txph-buttonRed-background;
  transition: background $txgl-transition, color $txgl-transition;

  &:hover {
    color: $txph-buttonRed-color;
    background: $txph-buttonRed-hover-background;
  }

  &:active {
    color: $txph-buttonRed-color;
    background: $txph-buttonRed-active-background;
  }
}

%txph-buttonIcon {
  margin: 0 8px 0 0;
}
