$txcm-datepickerToggle-color: $txgl-gray-100;
$txcm-datepickerToggle-background: $txgl-gray-400;
$txcm-datepickerToggle-hover-color: $txgl-white;
$txcm-datepickerToggle-hover-background: $txgl-gray-300;
$txcm-datepickerToggle-active-color: $txgl-white;
$txcm-datepickerToggle-active-background: $txgl-gray-200;

.txcm-datepickerToggle {
  height: $txgl-filter-height;
  padding: 0 28px 0 12px;
  margin: 0 $txgl-filter-margin;
  color: $txcm-datepickerToggle-color;
  background: $txcm-datepickerToggle-background;

  &:hover {
    color: $txcm-datepickerToggle-hover-color;
    background: $txcm-datepickerToggle-hover-background;
  }

  &:active {
    color: $txcm-datepickerToggle-active-color;
    background: $txcm-datepickerToggle-active-background;
  }
}
