$txcm-dashboardNavGroupLink-height: 32px;
$txcm-dashboardNavGroupLink-color: $txgl-gray-100;
$txcm-dashboardNavGroupLink-hover-color: $txgl-white;
$txcm-dashboardNavGroupLink-active-color: $txgl-white-900;

.txcm-dashboardNavGroupLink {
  @extend %txph-dashboardNavMark;
  @include txmx-link($txcm-dashboardNavGroupLink-color, $txcm-dashboardNavGroupLink-color, $txcm-dashboardNavGroupLink-hover-color, $txcm-dashboardNavGroupLink-active-color);
  position: relative;
  display: flex;
  align-items: center;
  height: $txcm-dashboardNavGroupLink-height;
  text-decoration: none;

  &-is-active {
    @extend %txph-dashboardNavMark-is-active;
    @include txmx-link($txcm-dashboardNavGroupLink-active-color);
  }
}
