$txcm-header-borderColor: $txgl-gray-400;

.txcm-dashboardFilter {
  position: fixed;
  top: 72px;
  left: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px $txgl-gap;
  border-bottom: 1px solid $txcm-header-borderColor;
  background: $txgl-background;
}

.txcm-dashboardFilterGroup {
  margin: 0 14px 0 0;

  &:last-child {
    margin: 0;
  }
}
