$txcm-header-borderColor: $txgl-gray-400;

$txcm-headerDummy-size: 32px;

.txcm-header {
  @include txm-layer(top);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px $txgl-gap;
  border-bottom: 1px solid $txcm-header-borderColor;
  background: $txgl-background;

  &::before {
    @include txm-pseudo(relative);
    order: 0;
    flex-grow: 1;
  }

  &::after {
    @include txm-pseudo(relative);
    width: $txcm-headerDummy-size;
    height: $txcm-headerDummy-size;
  }
}
