// White

$txgl-white-500: #b4bac1;
$txgl-white-900: #fff;

$txgl-white: $txgl-white-500;

// Black

$txgl-black-500: #111314;
$txgl-black-900: #000;

$txgl-black: $txgl-black-900;

// Gray

$txgl-gray-100: #848e99;
$txgl-gray-200: #464b52;
$txgl-gray-300: #383c42;
$txgl-gray-400: #2b2f33;
$txgl-gray-500: #202326;
$txgl-gray-600: #1b1e21;

$txgl-gray: $txgl-gray-500;

// Red

$txgl-red-400: #eb0614;
$txgl-red-500: #e30613;
$txgl-red-600: #cf0510;
$txgl-red-900: #6a0f2c;

$txgl-red: $txgl-red-500;

// Yellow

$txgl-yellow-500: #fed731;

$txgl-yellow: $txgl-yellow-500;

// Green

$txgl-green-500: #02a861;

$txgl-green: $txgl-green-500;

// Magnit

$txgl-magnit: #e30613;
$txgl-magnit-extra: #6a0f2C;

// Magnit Cosmetic

$txgl-magnitCosmetic: #cf0077;
$txgl-magnitCosmetic-extra: #f3a2C5;

// Magnit Pharmacy

$txgl-magnitPharmacy: #008895;
$txgl-magnitPharmacy-extra: #47Bcc8;

// Magnit Mini

$txgl-magnitMini: #e30613;
$txgl-magnitMini-extra: #6a0f2c;

// Magnit Night

$txgl-magnitNight: #711745;
$txgl-magnitNight-extra: #c9338a;

// Magnit Opt

$txgl-magnitOpt: #e84e0f;
$txgl-magnitOpt-extra: #d63517;

// Magnit Energo

$txgl-magnitEnergo: #000;
$txgl-magnitEnergo-extra: #878787;
