$txcm-asideNavGroupLink-height: 32px;
$txcm-asideNavGroupLink-color: $txgl-gray-100;
$txcm-asideNavGroupLink-hover-color: $txgl-white;
$txcm-asideNavGroupLink-active-color: $txgl-white-900;

.txcm-asideNavGroupLink {
  @include txmx-link($txcm-asideNavGroupLink-color, $txcm-asideNavGroupLink-color, $txcm-asideNavGroupLink-hover-color, $txcm-asideNavGroupLink-active-color);
  position: relative;
  display: flex;
  align-items: center;
  height: $txcm-asideNavGroupLink-height;
  text-decoration: none;

  &-is-active {
    @extend %txph-asideNavGroupLink-is-active;
    @include txmx-link($txcm-asideNavGroupLink-active-color);
  }
}

$txcm-asideNavGroupLinkIcon-width: 9px;
$txcm-asideNavGroupLinkIcon-height: 6px;
$txcm-asideNavGroupLinkIcon-color: $txgl-red;

.txcm-asideNavGroupLinkIcon {
  position: absolute;
  top: 50%;
  right: 0;
  width: $txcm-asideNavGroupLinkIcon-width;
  height: $txcm-asideNavGroupLinkIcon-height;
  margin: ($txcm-asideNavGroupLinkIcon-height / -2) 0 0;
  color: $txcm-asideNavGroupLinkIcon-color;
  opacity: 0;
  transition: opacity $txgl-transition-default;
  fill: currentColor;

  %txph-asideNavGroupLink-is-active > & {
    opacity: 1;
  }
}
