.txcm-dashboardIndicatorInput {
  position: absolute;
  left: -10000px;

  &:checked {
    @extend %txph-dashboardIndicatorInput-checked;
  }
}

$txcm-dashboardIndicatorControl-height: 32px;
$txcm-dashboardIndicatorControl-color: $txgl-gray-100;
$txcm-dashboardIndicatorControl-hover-color: $txgl-white-900;
$txcm-dashboardIndicatorControl-active-color: $txgl-white-900;

$txcm-dashboardIndicatorControlIcon-width: 9px;
$txcm-dashboardIndicatorControlIcon-height: 6px;
$txcm-dashboardIndicatorControlIcon-color: $txgl-red;

.txcm-dashboardIndicatorControl {
  position: relative;
  display: flex;
  align-items: center;
  height: $txcm-dashboardIndicatorControl-height;
  color: $txcm-dashboardIndicatorControl-color;
  transition: color $txgl-transition-default;

  &::before {
    @include txmx-pseudo;
    top: 50%;
    right: 0;
    width: $txcm-dashboardIndicatorControlIcon-width;
    height: $txcm-dashboardIndicatorControlIcon-height;
    margin: ($txcm-dashboardIndicatorControlIcon-height / -2) 0 0;
    color: $txcm-dashboardIndicatorControlIcon-color;
    background: currentColor;
    opacity: 0;
    transition: opacity $txgl-transition-default;
  }

  &:hover {
    color: $txcm-dashboardIndicatorControl-hover-color;
  }

  &:active {
    color: $txcm-dashboardIndicatorControl-active-color;
  }

  %txph-dashboardIndicatorInput-checked + & {
    color: $txcm-dashboardIndicatorControl-active-color;

    &::before {
      opacity: 1;
    }
  }
}

$txcm-dashboardIndicatorNote-color: $txgl-gray-100;

.txcm-dashboardIndicatorNote {
  color: $txcm-dashboardIndicatorNote-color;

  &::before {
    @include txmx-pseudo(relative, inline, '/');
  }
}
