.txcm-menuDrawerDashboardNav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  visibility: hidden;
  box-sizing: inherit;
  width: 100%;
  height: 100%;
  padding: inherit;
  background: inherit;
  transform: translateX(100%);
  transition: transform $txgl-transition-slow, visibility $txgl-transition-slow step-end;

  &-is-active {
    visibility: visible;
    transform: translateX(0);
    transition: transform $txgl-transition-slow, visibility $txgl-transition-slow step-start;
  }
}
