$txcm-bodyPadding-height: 139px;

body {
  position: relative;
  display: inherit;
  flex-direction: inherit;
  flex-grow: 1;
  width: 100%;
  padding: 0;
  margin: 0;

  &::before {
    @include txmx-pseudo(relative);
    width: 100%;
    height: $txcm-bodyPadding-height;
  }

  @include txmx-media(print) {
    width: auto;
    padding: 2.54cm;
  }
}
