form {
  @include txm-media(print) {
    display: none;
  }
}

fieldset {
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
}

$txcm-legend-padding: 1.5em;

legend {
  position: relative;
  left: -$txcm-legend-padding;
  padding: 0 $txcm-legend-padding;
  font-weight: bold;
}

label {
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
}

%txph-formElement {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;

  @include txm-media(print) {
    display: none;
  }
}

%txph-formFieldStyle {
  border: $txgl-form-borderWidth solid $txgl-form-borderColor;
  border-radius: $txgl-form-borderRadius;
  font-size: inherit;
  transition: border-color $txgl-transition;

  &:hover {
    border-color: $txgl-form-hover-borderColor;
  }
}

%txph-formFieldState {
  &:disabled {
    border-color: $txgl-form-disabled-borderColor;
    color: $txgl-ui-disabled-color;
    cursor: default;
    cursor: not-allowed;
  }

  &[readonly] {
    cursor: default;
    cursor: not-allowed;

    &:hover {
      border-color: $txgl-form-borderColor;
    }
  }
}

$txph-formPlaceholder-color: $txgl-gray;

%txph-formPlaceholderStyle {
  color: $txph-formPlaceholder-color;
  opacity: 1;
}

%txph-formPlaceholder {
  &::-webkit-input-placeholder {
    color: $txph-formPlaceholder-color;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: $txph-formPlaceholder-color;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $txph-formPlaceholder-color;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: $txph-formPlaceholder-color;
    opacity: 1;
  }

  &::placeholder {
    color: $txph-formPlaceholder-color;
    opacity: 1;
  }
}

%txph-formMozBorderReset {
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

%txph-formAppearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

%txph-input {
  @extend %txph-formElement;
  @extend %txph-formFieldStyle;
  @extend %txph-formPlaceholder;
  height: $txgl-form-height;
  padding: 0 $txgl-gap;
  box-shadow: none;
}

input {
  @extend %txph-input;
  @extend %txph-formFieldState;

  &[type='radio'],
  &[type='checkbox'] {
    height: auto;
    padding: 0;
    border: 0;
    vertical-align: middle;
  }

  &[type='submit'],
  &[type='reset'],
  &[type='button'] {
    @extend %txph-formButton;
    @extend %txph-formAppearance;
    @extend %txph-formMozBorderReset;

    &:disabled {
      @extend %txph-formButtonStyle-disabled;
    }
  }

  &[type='file'] {
    height: auto;
    padding: 0;
    border: 0;
  }

  &[type='search'] {
    @extend %txph-formAppearance;

    ::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  &[type='number'] {
    @extend %txph-formAppearance;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &[type='color'] {
    padding: 0 2px;
  }

  &[type='range'] {
    height: auto;
    padding: 0;
  }

  &[type='image'] {
    height: auto;
    padding: 0;
    border: 0;
  }
}

$txgl-select-background: $txgl-white;

$txgl-selectButton-width: 45px;

select {
  @extend %txph-formElement;
  @extend %txph-formAppearance;
  position: relative;
  height: $txgl-form-height;
  padding: 0 ($txgl-selectButton-width + $txgl-gap) 0 $txgl-gap;
  border: 0;
  font-size: inherit;
  vertical-align: top;
  touch-action: manipulation;
  transition: background $txgl-transition;

  &[multiple] {
    height: 150px;
    padding: 0;
    border: $txgl-form-borderWidth solid $txgl-form-borderColor;
    border-radius: $txgl-form-borderRadius;
    background: none;

    option {
      padding: 10px $txgl-gap;
    }
  }
}

textarea {
  @extend %txph-formElement;
  @extend %txph-formFieldStyle;
  @extend %txph-formFieldState;
  @extend %txph-formPlaceholder;
  display: block;
  overflow: auto;
  height: 150px;
  padding: 0.75em $txgl-gap;
}

%txph-formButtonStyle {
  box-sizing: border-box;
  height: $txgl-button-height;
  padding: 0 $txgl-button-padding;
  border-radius: $txgl-form-borderRadius;
  cursor: pointer;
  touch-action: manipulation;
  transition: background $txgl-transition, color $txgl-transition;

  &-disabled {
    color: $txgl-button-disabled-color;
    background: $txgl-button-disabled-background;
    cursor: default;
    cursor: not-allowed;

    &:hover,
    &:active {
      color: $txgl-button-disabled-color;
      background: $txgl-button-disabled-background;
    }
  }
}

%txph-formButton {
  @extend %txph-formButtonStyle;
  border: 0;

  &:disabled {
    @extend %txph-formButtonStyle-disabled;
  }

  &:focus {
    outline: none;
  }
}

button {
  @extend %txph-formElement;
  @extend %txph-formButton;
  @extend %txph-formAppearance;
  @extend %txph-formMozBorderReset;
}
