.txcm-authForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

$txcm-authInputHolder-width: 280px;

.txcm-inputHolderAuth {
  @extend %txph-inputHolder;
  width: $txcm-authInputHolder-width;
  margin: 0 0 12px;
}

.txcm-inputAuth {
  @extend %txph-inputLayoutLarge;

  &:focus {
    @extend %txph-authInput-focus;
  }

  &-is-filled {
    @extend %txph-authInput-is-filled;
  }
}

.txcm-inputLabelAuth {
  @extend %txph-labelLayoutLarge;

  %txph-authInput-focus + & {
    @extend %txph-labelLayoutLarge-is-compact;
  }

  %txph-authInput-is-filled + & {
    @extend %txph-labelLayoutLarge-is-compact;
  }
}

$txcm-authSubmit-width: 285px;

.txcm-authSubmit {
  @extend %txph-buttonRed;
  @extend %txph-buttonLayoutLarge;
  width: $txcm-authSubmit-width;
  margin: 12px 0 0;
}
