.txcm-loginHelp {
  margin: 70px 0 0;
  text-align: center;
}

$txcm-loginHelpLink-color: $txgl-red;
$txcm-loginHelpLink-hover-color: $txgl-red-600;
$txcm-loginHelpLink-active-color: $txgl-red-400;

.txcm-loginHelpLink {
  @include txmx-link($txcm-loginHelpLink-color, $txcm-loginHelpLink-color, $txcm-loginHelpLink-hover-color, $txcm-loginHelpLink-active-color);
  text-decoration: none;
}
