$txcm-dashboardListFilterIcon-size: 10px;
$txcm-dashboardListFilterIcon-color: $txgl-gray-200;

.txcm-dashboardListFilter {
  position: relative;
  width: 100%;
  margin: 0 0 12px;

  &::before {
    @include txmx-pseudo;
    top: 50%;
    left: 16px;
    width: $txcm-dashboardListFilterIcon-size;
    height: $txcm-dashboardListFilterIcon-size;
    margin: ($txcm-dashboardListFilterIcon-size / -2) 0 0 ($txcm-dashboardListFilterIcon-size / -2);
    color: $txcm-dashboardListFilterIcon-color;
    background: currentColor;
  }
}

.txcm-dashboardListFilterInput {
  width: 100%;
  padding: 0 31px;

  &:focus {
    @extend %txph-dashboardListFilterInput-focus;
  }
}

$txcm-dashboardListFilterCancel-width: 31px;
$txcm-dashboardListFilterCancel-height: 32px;

$txcm-dashboardListFilterCancelIcon-size: 8px;
$txcm-dashboardListFilterCancelIcon-color: $txgl-gray-200;

.txcm-dashboardListFilterCancel {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: $txcm-dashboardListFilterCancel-width;
  height: $txcm-dashboardListFilterCancel-height;
  background: none;
  text-indent: -10000px;
  opacity: 0;
  transition: opacity $txgl-transition-default, visibility $txgl-transition-default step-end;

  &::before {
    @include txmx-pseudo;
    top: 50%;
    left: 50%;
    width: $txcm-dashboardListFilterCancelIcon-size;
    height: $txcm-dashboardListFilterCancelIcon-size;
    margin: ($txcm-dashboardListFilterCancelIcon-size / -2) 0 0 ($txcm-dashboardListFilterCancelIcon-size / -2);
    color: $txcm-dashboardListFilterCancelIcon-color;
    background: currentColor;
  }

  %txph-dashboardListFilterInput-focus + & {
    visibility: visible;
    opacity: 1;
    transition: opacity $txgl-transition-default, visibility $txgl-transition-default step-start;
  }
}
