$txcm-datepickerQuarters-width: 42px;

.txcm-datepickerQuarters {
  display: flex;
  flex-direction: column;
  width: $txcm-datepickerQuarters-width;
  padding: 0;
  margin: 0 2px;
  list-style: none;
}

.txcm-datepickerQuarter {
  padding: 0;
  margin: 2px 0;
}

.txcm-datepickerQuarterButton {
  @extend %txph-buttonLayoutLarge;
  @extend %txph-buttonBorder;
  width: 100%;
}

$txcm-datepickerMonths-width: 228px;

.txcm-datepickerMonths {
  display: flex;
  flex-wrap: wrap;
  width: $txcm-datepickerMonths-width;
  padding: 0;
  margin: 0;
  list-style: none;
}

.txcm-datepickerMonth {
  box-sizing: border-box;
  width: 33.333%;
  padding: 2px;
  margin: 0;
}

.txcm-datepickerMonthButton {
  @extend %txph-buttonLayoutLarge;
  @extend %txph-buttonBorder;
  width: 100%;
}
