$txcm-datepickerPrecision-color: $txgl-gray-100;
$txcm-datepickerPrecision-borderColor: $txgl-gray-300;

.txcm-datepickerPrecision {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 20px 0 0q;
  border-top: 1px solid $txcm-datepickerPrecision-borderColor;
  margin: 6px 15px 0;
  color: $txcm-datepickerPrecision-color;
}

.txcm-datepickerPrecisionOptions {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 0 10px;
  list-style: none;
}

.txcm-datepickerPrecisionOption {
  padding: 0;
  margin: 0;
}

$txcm-datepickerPrecisionButtonn-width: 30px;
$txcm-datepickerPrecisionButtonn-height: 25px;
$txcm-datepickerPrecisionButtonn-color: $txgl-white;
$txcm-datepickerPrecisionButtonn-active-color: $txgl-black;
$txcm-datepickerPrecisionButtonn-active-background: $txgl-white-900;

.txcm-datepickerPrecisionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: $txcm-datepickerPrecisionButtonn-width;
  height: $txcm-datepickerPrecisionButtonn-height;
  border-radius: $txgl-form-borderRadius;
  color: $txcm-datepickerPrecisionButtonn-color;
  background: none;
  transition: color $txgl-transition-default, background $txgl-transition-default;

  &-is-active {
    color: $txcm-datepickerPrecisionButtonn-active-color;
    background: $txcm-datepickerPrecisionButtonn-active-background;
  }
}
