.txcm-datepickerHolder {
  position: relative;
  margin: 0 $txgl-filter-margin;
}

$txcm-datepickerContainer-width: 304px;
$txcm-datepickerContainer-background: $txgl-gray-400;

.txcm-datepickerContainer {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  width: $txcm-datepickerContainer-width;
  padding: 0 0 15px;
  border-radius: 3px;
  margin: ($txgl-filter-margin * 2) 0 0;
  background: $txcm-datepickerContainer-background;
  opacity: 0;
  transition: opacity $txgl-transition-default, visibility $txgl-transition-default step-end;

  &-is-active {
    visibility: visible;
    opacity: 1;
    transition: opacity $txgl-transition-default, visibility $txgl-transition-default step-start;
  }
}

$txcm-datepickerSubmit-width: 90px;

.txcm-datepickerSubmit {
  @extend %txph-buttonLayout;
  @extend %txph-buttonRed;
  width: $txcm-datepickerSubmit-width;
  margin: 15px 0 0 15px;
}
