$txcm-dashboardDrawer-width: 254px;
$txcm-dashboardDrawer-background: $txgl-gray-500;

.txcm-dashboardDrawer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  box-sizing: border-box;
  width: $txcm-dashboardDrawer-width;
  height: 100%;
  padding: 20px 20px 0;
  background: $txcm-dashboardDrawer-background;
  transform: translateX(-100%);
  transition: transform $txgl-transition-slow;

  &-is-active {
    transform: translateX(0);
  }
}

$txcm-dashboardDrawerClose-size: 32px;

$txcm-dashboardDrawerCloseIcon-width: 20px;
$txcm-dashboardDrawerCloseIcon-height: 2px;
$txcm-dashboardDrawerCloseIcon-color: $txgl-gray-100;

.txcm-dashboardDrawerClose {
  position: absolute;
  top: 20px;
  right: 20px;
  width: $txcm-dashboardDrawerClose-size;
  height: $txcm-dashboardDrawerClose-size;
  color: $txcm-dashboardDrawerCloseIcon-color;
  background: none;
  text-indent: -10000px;

  &::before,
  &::after {
    @include txmx-pseudo;
    top: 50%;
    left: 50%;
    width: $txcm-dashboardDrawerCloseIcon-width;
    height: $txcm-dashboardDrawerCloseIcon-height;
    border-radius: $txcm-dashboardDrawerCloseIcon-height / 2;
    margin: ($txcm-dashboardDrawerCloseIcon-height / -2) 0 0 ($txcm-dashboardDrawerCloseIcon-width / -2);
    background: currentColor;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
